html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: white;
}
/*
==================================

BARRA PRINCIPAL (NAV)

==================================
*/
/*---------------Barra principal----------------*/
.top-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;

    background-color: white;
    border: .5px solid;
    border-color: rgb(194, 193, 193);
    box-shadow: 0 .1px 35px .5px rgb(204, 204, 204);
}

.top-bar div{
    display: flex;
    flex-direction: row;
}

/*-------------Logo y Menú------------------*/

/*--------------Noticias-----------------*/

/*--------------Logo e ingreso-----------------*/
